
.body {
    font: 16px sans-serif;
}

.navbar {
    background-color: rgb(255, 255, 255);
}

.quem-somos {
    background-color: rgb(235, 196, 196);
    color: white;
}

.parceiros {
    background-color: rgb(96, 128, 214);
    color: white;
}

.servicos {
    background-color: rgb(255, 255, 255);
    color: rgb(59, 59, 59);
}

.margin {
    padding-top: 30px;
    padding-bottom: 30px;
}

.bg-footer {
    background-color: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
}